/*  */

div h1 {
	font-size: 2rem;
	background-color: blue;
}

h1::first-letter {
	color: brown;
}

span {
	display: block;
}

div {
	background-color: bisque;
}

div h1:only-child {
	background-color: black !important;
}
